
.grid {display:inline-block;}
body { background-color:rgb(140, 127, 255); margin: 40px;}
#main {background-color: white; width: 80%;
  margin:auto;padding: 30px; border-radius: 25px; 
  font-family: 'cursive', Helvetica;}
.top {display:inline-block;}
ul {float:right;}
